page-places {
    // .item {
    //     border-bottom: 1px solid #dedede;
    // }

    // .item-inner {
    //     border-bottom: none !important;
    // }
    .filter-header {
        border-bottom: 1px solid #ccc;
        background: #dedede;
        height: 32px;
    }
}
