<ion-header no-border>
  <ion-toolbar>
    <ion-title>All Places</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear> 
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header *ngIf="!isAdmin" class="filter-header">
    <ion-select item-left>
      <ion-option value="near" selected="true">Near to me</ion-option>
      <ion-option value="less_price">Low Price</ion-option>
      <ion-option value="less_time">Short time</ion-option>
    </ion-select>

    <button ion-button icon-only item-right clear color="dark">
      <ion-icon name="md-locate"></ion-icon>
    </button>
  </ion-list-header>

  <ion-list no-lines>
    <pre *ngIf="!(places | async)">loading objectives...</pre>
    <ion-item-sliding *ngFor="let place of places | async" (click)="switchToPlaceDetailPage(place)">
      <button ion-item class="item item-icon-left item-icon-right">
        <text-avatar text="{{place.placeName}}" item-left>
        </text-avatar>
        <h2>{{place.placeName}}</h2>
        <p>
          <small>{{place.latitude}} {{place.longitude}}</small>
        </p>
      </button>

      <ion-item-options *ngIf="isAdmin" side="right">
        <button ion-button color="primary">
          <ion-icon name="md-create" style="font-size: 2.4rem"></ion-icon>
          Update
        </button>
      </ion-item-options>

      <ion-item-options *ngIf="isAdmin" side="left">
        <button ion-button color="danger">
          <ion-icon name="md-trash" style="font-size: 2.4rem"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab *ngIf="isAdmin" right bottom>
    <button ion-fab mini color="primary" (tap)="openModalToCreateNewPlace()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
